<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
</head>
<body>
  <h1><%= @title %></h1>
  <dl>
    <dt>名前</dt>
    <dd>terra-yucco (Terashima Yuko)</dd>
    <dt>E-mail</dt>
    <dd>e1613yt@aiit.ac.jp</dd>
    <dt>出身地</dt>
    <dd>東京</dd>
    <dt>趣味</dt>
    <dd>読書、ゲーム、Qiita徘徊、音楽(鑑賞/演奏)</dd>
    <dt>特技</dt>
    <dd>絶対音感があります</dd>
    <dd>文字を読むのが速いです</dd>
  </dl>
</body>
</html>
